* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(23, 25, 24);
    margin: auto;
    justify-content: center;
    align-items: center;
}

nav {
    background-color: black;
    color: white;
    display: flex;
    height: 50px;
    justify-content: space-around;
    align-items: center;
}

nav ul {
    justify-content: center;
    display: flex;
}

nav ul li {
    list-style: none;
    margin: 0 30px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: gray;
    font-size: 1.2rem;
}

.contact {
    background-color: rgb(56, 58, 58);
    margin: 20px 15%;
    height: 600px;
    width: 500px;
}

.contact h2 {
    color: rgb(139 216 168);
    padding: 20px 20px;
    font-size: 30px;
    font-weight: 800;
}

.contact p {
    color: white;
    padding: 20px;
}

form input {
    margin: 20px;
    padding: 5px;
    background-color: rgb(65, 61, 61);
    color: rgb(95, 191, 146);
}
/* input placeholder{
    color: white;
} */
#message {
    height: 112px;
    width: 80%;
    /* padding: 10px; */
}

/* #depmnt.select-field {
    width: 82%;
    margin-left: 20px;
    height: 30px;
} */
#department {
    width: 82%;
    margin-left: 20px;
    height: 30px;
}

button {
    margin-left: 20px;
    padding: 20px;
    border-radius: 15px;
    margin-top: 10px;
    cursor: pointer;
    background-color: rgb(68, 159, 103);

}

/* form h1{
    text-align: center;
    justify-content: center;
    margin: 10px;
    font-size: 50px;

} */
/* .mb-3{ */
/* text-align: center;
    justify-content: center;
    margin: auto 0; */
/* font-size: bolder;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 15px;
} */
/* .form-label{
    font-size: bolder;
    margin: 2px;

}
.form-control{
    width: 15vw;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
}
#exampleInputenquiry3{
    height: 15vh;
    width: 25vw;
}
.form-check{
    display: flex;
    flex-direction: row;
}
.form-check-label{
    padding: 5px;
    margin: 10px;
}
.btn{
    margin: 0px 15px;
    width: 90px;
    height: 35px;
    font-size: larger;
    font-weight: bolder;
    border: 2px solid black;
    border-radius: 12px;
} */